/*
 * Copyright (c) 2022 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#include "../zmk-nodefree-config/helper.h"

#define ___ &trans

#define  BASE 0
#define    FN 1
#define LOWER 2
#define UPPER 3

/* custom behaviours */
// Only turn off it the key is held for 3 seconds or longer.
&soft_off {
    hold-time-ms = <3000>;
};

// tap: sticky shift | double tap: capswords
ZMK_BEHAVIOR(ss_cw, tap_dance,
    tapping-term-ms = <200>;
    bindings = <&sk LSHFT>, <&caps_word>;
)

ZMK_BEHAVIOR(btlp, hold_tap,
    tapping-term-ms = <3000>;
    flavor = "tap-preferred";
    bindings = <&bt>, <&none>;
)

// // combos
// #undef COMBO_TERM
// #define COMBO_TERM 40  // timeout of 40ms (default is 30ms if omitted)
// ZMK_COMBO(combo_copy,   &kp LC(C),  LB2 LB3, ALL)  // Ctrl + C, active on all layers
// ZMK_COMBO(combo_paste,  &kp LC(V),  LB1 LB2, ALL)  // Ctrl + V, active on all layers

/* keymap */
/ {
    chosen {
        zmk,matrix_transform = &mit_transform;
    };
};

ZMK_LAYER(base,
//  ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────┬────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮
      &kp ESC        &kp Q        &kp W        &kp E         &kp R        &kp T       &kp Y        &kp U        &kp I        &kp O        &kp P       &kp BKSP
//  ├────────────┼────────────┼────────────┼────────────┼────────────┤────────────┼────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
      &kp TAB        &kp A        &kp S        &kp D         &kp F        &kp G       &kp H        &kp J        &kp K        &kp L       &kp SEMI     &kp QUOT
//  ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┼────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
       &ss_cw        &kp Z        &kp X        &kp C         &kp V        &kp B       &kp N        &kp M       &kp COMMA     &kp DOT     &kp FSLH      &kp RET
//  ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┴────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
      &kp LCTRL     &kp LGUI     &kp LALT      &mo FN      &mo LOWER           &kp SPACE         &mo UPPER     &kp LEFT     &kp DOWN      &kp UP      &kp RIGHT
//  ╰────────────┴────────────┴────────────┴────────────┴────────────┴─────────────────────────┴────────────┴────────────┴────────────┴────────────┴────────────╯
)

ZMK_LAYER(fn,
//  ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────┬────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮
       &soft_off    &kp PSCRN  &kp C_BRI_DN &kp C_BRI_UP     ___           ___         ___         &kp F10      &kp F11      &kp F12       ___      &btlp BT_CLR
//  ├────────────┼────────────┼────────────┼────────────┼────────────┤────────────┼────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
       &kp CAPS     &kp HOME     &kp END       &kp INS     &kp C_PP        ___         ___         &kp F7       &kp F8       &kp F9        ___       &bt BT_NXT
//  ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┼────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
         ___       &kp C_PREV   &kp C_NEXT   &kp C_MUTE  &kp C_VOL_DN &kp C_VOL_UP     ___         &kp F4       &kp F5       &kp F6        ___       &bt BT_PRV
//  ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┴────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
         ___          ___          ___          ___          ___                 ___               &kp F1       &kp F2       &kp F3        ___          ___
//  ╰────────────┴────────────┴────────────┴────────────┴────────────┴─────────────────────────┴────────────┴────────────┴────────────┴────────────┴────────────╯
)

ZMK_LAYER(lower,
//  ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────┬────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮
         ___          ___          ___        &kp LBKT     &kp RBKT        ___         ___         &kp N7       &kp N8       &kp N9      &kp MINUS     &kp DEL
//  ├────────────┼────────────┼────────────┼────────────┼────────────┤────────────┼────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
         ___          ___          ___        &kp LPAR     &kp RPAR        ___         ___         &kp N4       &kp N5       &kp N6      &kp PLUS       ___
//  ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┼────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
         ___          ___          ___        &kp LBRC     &kp RBRC        ___         ___         &kp N1       &kp N2       &kp N3      &kp EQUAL      ___
//  ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┴────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
         ___          ___          ___          ___          ___                 ___                 ___        &kp N0     &kp PG_DN     &kp PG_UP      ___
//  ╰────────────┴────────────┴────────────┴────────────┴────────────┴─────────────────────────┴────────────┴────────────┴────────────┴────────────┴────────────╯
)

ZMK_LAYER(upper,
//  ╭────────────┬────────────┬────────────┬────────────┬────────────┬────────────┬────────────┬────────────┬────────────┬────────────┬────────────┬────────────╮
         ___        &kp LBRC     &kp AMPS    &kp STAR      &kp LPAR     &kp RBRC        ___        &kp UNDER    &kp PLUS     &kp LBRC    &kp RBRC   &bootloader
//  ├────────────┼────────────┼────────────┼────────────┼────────────┤────────────┼────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
         ___        &kp COLON    &kp DLLR    &kp PRCNT     &kp CARET    &kp PLUS        ___        &kp MINUS    &kp EQUAL    &kp LBKT    &kp RBKT      ___
//  ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┼────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
         ___        &kp TILDE    &kp EXCL     &kp AT       &kp HASH     &kp PIPE        ___           ___          ___         ___       &kp PIPE    &kp BSLH
//  ├────────────┼────────────┼────────────┼────────────┼────────────┼────────────┴────────────┼────────────┼────────────┼────────────┼────────────┼────────────┤
         ___          ___          ___          ___          ___                 ___                 ___          ___         ___          ___          ___
//  ╰────────────┴────────────┴────────────┴────────────┴────────────┴─────────────────────────┴────────────┴────────────┴────────────┴────────────┴────────────╯
)
